---
layout: archive
title: "Academic Service"
permalink: /service/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

<UL>
	<LI>  Reviewer of IEEE Transaction on Geoscience and Remote Sensing.
	<LI>  Reviewwer of IEEE Journal of Selected Topics in Applied Earth Observation and Remote Sensing.
	<LI>  Committee Member of Master Thesis of the Engineering Department at the <i> Instituto Technologico Metropolitano</i>, Medellin-Colombia.